---

- name: Grub-mkconfig
  ansible.builtin.command:  # noqa no-changed-when
    cmd: "{{ grub_mkconfig }} -o /boot/grub/grub.cfg"
  when: >
    not (ansible_facts['virtualization_type'] is defined and
          (ansible_facts['virtualization_type'] == "lxc" or ansible_facts['virtualization_type'] == "docker")
        )

- name: Update-initramfs
  ansible.builtin.command:  # noqa no-changed-when
    cmd: update-initramfs -u
